
lab4/UNIVER.ldf
lab4/UNIVER.mdf
lab4/UNIVER.ndf
lab4/UNIVER.ndf
lab4/UNIVER11.ndf
lab4/UNIVER12.ndf
lab4/UNIVER21.ndf
lab4/UNIVER22.ndf
~$актикумБазыДанных2018.doc
lab4(Configuring_DB)/UNIVER.ldf
*.mdf
*.ndf
